
<h1>New Vehicle</h1>
<form action="">
  <div class="form-group">
    <label for="make">Make</label>
    <select name="make"  [(ngModel)]="vehicle.make" (change)="onMakeChange()" class="form-control" id="make">
      <option value=""></option>
      <option *ngFor="let item of makes" value="{{item.id}}">{{item.name}}</option>
    </select>
  </div>
    <div class="form-group">
    <label for="model">Model</label>
    <select name="model" id="model" class="form-control">
    <option value=""></option>
    <option *ngFor="let item of models" value="{{item.id}}">{{item.name}}</option>
    </select>
   
  </div>

  <h2>Features</h2>
  <div *ngFor="let item of features" class="checkbox">
    <label for="{{item.id}}">
      <input id="{{item.id}}" type="checkbox">{{item.name}}
      </label>
  </div>

</form>